@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}
pre {
  font-family: 'Poppins', sans-serif;
}
.nav-bar {
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 93px;
  margin: 0;
}
.heading {
  display: contents;
  text-align: center;
}
.song {
  color: rgb(45, 45, 45);
  background: transparent;
}
.lyrics_h {
  color: #467fb9;
  background: transparent;
}
.com {
  color: rgb(45, 45, 45);
  background: transparent;
  padding-top: 17px;
}
.artistbox {
  min-width: 20rem;
  border: 1.5px solid grey;
  border-radius: 5px;
  margin-bottom: 2px;
  padding-left: 3px;
  cursor: pointer;
}
.artistbox:hover {
  background-color: #467fb9;
}
.songbox {
  min-width: 20rem;
  border: 1.5px solid grey;
  border-radius: 5px;
  margin-bottom: 2px;
  padding-left: 3px;
  cursor: pointer;
}
.songbox:hover {
  background-color: #467fb9;
}
h4 {
  margin-left: 37px;
}
h4.lhead {
  margin-left: 0;
}
center {
  margin-top: 16px;
}
li.current {
  background-color: #467fb9;
  min-width: 20rem;
  border: 1.5px solid grey;
  border-radius: 5px;
  margin-bottom: 2px;
  padding-left: 3px;
  color: #fff;
}
div.col-5 {
  padding-left: 55px;
}